<!-- botones -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
                    <i class="fas fa-plus"></i>Agregar cliente
                </a>-->
                <!--<button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
                    Agregar cliente
                  </button> -->
                  
            </div>
        </div>
    </div>
</section>

<!-- lista de clientes-->
 <section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Lista de movimientos</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!--<tbody>
                            <tr *ngFor="let item of clientes; let pos = index">
                                <td>{{ pos + 1 }}</td>
                                <td>{{ item.nombre }}  {{ item.apellido }}</td>
                                <td>{{ item.saldo | currency: 'EUR' }}</td>
                                <td>
                                    <a routerLink="/cliente/editar/{{ item.id }}" class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i>Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>

            <!-- tarjetas laterales-->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo total</h3>
                        <h4 class="display-4">
                           <!--{{ getSaldoTotal() | currency: 'EUR' }} -->
                        </h4>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total clientes</h3>
                        <h4 class="display-4">
                           <!-- <i class="fas fa-users"></i> {{ getCantidadClientes() }} -->
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

